{% extends "layout.html" %}
{% block lob %}
    <div class="bundle-wrapper">
        <h5 class="text-center margin-0 padding-20">Bundles</h5>
        <div class="row">
            {% for bundle in bundles %}
                <div class="col-6 col-sm-6 col-md-6 padding-5">
                    <div class="card">
                        <div class="card-title bg-color">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 margin-0 padding-15 text-left"><a href="/list/{{bundle}}" class="text-decoration-none text-white text-left padding-left-10">{{ bundle | title }} Sector</a></div>
                                <div class="col-6 col-sm-6 col-md-6 margin-0 padding-15 text-right"><a href="/chart/{{bundle}}" class="text-decoration-none text-white text-right padding-right-10">Chart</a></div>
                            </div>
                        </div>
                        <div class="card-text padding-left-10 padding-bottom-10">
                            <h6><strong>Components: </strong></h6>
                            {% for company in components[loop.index - 1] %}
                                <a href="/{{company['symbol']}}" class="text-decoration-none">{{ company['symbol'] }}</a> |
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock lob %}